<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/study/start">학습하기</a>
            <a class="btn btn-lg btn-secondary" href="/members">시험보기 (미완성)</a>
        </p>

        </p>
        <div>
            <table class="table table-striped table-hover">
                <tbody>
                <tr th:each="word : ${words}">
                    <td th:text="${word.word}"></td>
                    <td th:text="${word.mean}"></td>
                    <td th:id="'bookMark' + ${word.id}" th:data-book-mark="${word.bookMark}" th:text="${word.bookMark}"></td>
                    <td>
                        <a class="btn btn-lg btn-secondary"
                           th:id="'icon' + ${word.id}"
                           th:attr="class=${word.bookMark ? 'bi bi-star-fill' : 'bi bi-star'}"
                           th:href="'javascript:edit_book_mark(' + ${word.id} + ')'">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div> <!-- /container -->

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    function edit_book_mark(id) {
        const element = document.getElementById('bookMark' + id);
        let book_mark = element.getAttribute('data-book-mark');
        book_mark = book_mark === 'true';
        book_mark = !book_mark;
        console.log('북마크 수정' + book_mark)

        $.ajax({
            url: apiUrl + '/words/' + id,
            type: 'PUT',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            headers: { "Accept": "application/json" },
            data: JSON.stringify({
                bookMark: book_mark
            }),
            success: function(response) {
                $(document.getElementById('icon' + id)).toggleClass('bi-star bi-star-fill');
                element.setAttribute('data-book-mark', response.bookMark)
                $('#bookMark' + id).text(response.bookMark);

            }
        }).fail(function (error) {
            console.log(error);
        });
    }
</script>
</html>
